* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    cursor: pointer;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
    margin-left: 240px;
    margin-right: 0px;
    border: none;

}

.banner {
    display: flex;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;

}

.banner-heading {
    margin-top: 200px;
    margin-left: 240px;
    margin-right: 200px;
    font-size: 45px;
}

.banner-content {
    margin-bottom: 5rem;
}
.paragraph {
    margin-top: 10px;
    margin-left: 240px;
    margin-right: 0px;

}

.profile {
    width: 350px;
    height: auto;
    flex-shrink: 0;
    margin-right: 150px;
    position: relative;
    top: 55px;
}

.hot {
    padding: 70px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}

.section-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;

}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.instagram {
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
}

#ihead {
    text-align: center;
    font-size: 2.5rem;
}

#idiscription {
    text-align: center;
    font-size: 1rem;
    width: 40%;
    margin: 20px auto;
}

.images img {
    margin: 10px 16px;
    width: 20%;
    /* margin: auto; */

}

a {
    color: black;
    
}

.hot {
    display: flex;
    justify-content: space-between;
}

.hot img {
    height: 420px;
    width: auto;
}

.hot .left {
    margin: auto;
    /* align-self: center; */
}

.wb {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.im {
    background-color: aqua;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    width: 29rem;
    height: 33rem;
    display: flex;
    align-items: center;
}

.c1 {
    background-color: rgba(167, 33, 98, 0.15);
}

.c2 {
    background-color: rgba(5, 151, 160, 0.15);
}

.c3 {
    background-color: rgba(71, 125, 17, 0.15);
}

.fhead {
    text-align: center;
    font-size: 2.5rem
}

.fd {
    text-align: center;
    font-size: 1rem;
    width: 40%;
    margin: 20px auto;
}

.firsthead {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.flink {
    text-align: center;
}


.im .im1 {
    margin: auto;
    position: relative;
    top: 50px;
}

.im .im2 {
    margin: auto;
    position: relative;
    top: 28px
}

.im {
    margin: 15px;
}

.img1 {
    position: relative;
    top: 32px;
}

.rec6 {
    width: 90rem;
    height: 20rem;
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px auto;
}

.rec6 div {
    text-align: center;
}

.subscribe {
    background: no-repeat url("../Flower\ Asset/Rectangle 9.png");
    width: 80%;
    margin: auto;
    border-radius: 10px;
    height: 20rem;
    margin-bottom: 30px;
}

.subscribe h1 {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.subscribe p {
    text-align: center;
    padding-bottom: 2rem;
}

.inputarea {
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscribe input {
    width: 50%;
    height: 4rem;
    margin: 10px;
    border-radius: 12px;
    border: none;
    padding: 0px 20px;
    font-size: 16px;
}

.subscribe button {
    height: 4rem;
    width: 9rem;
    background-color: #E55473;
    border-radius: 12px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.text-last {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
}

.text-first {

        color: white;
        font-family: Lato;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
}
.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-content{
    background-color: black;
    color: white;
    text-align: center;
    height: 300px;
    padding-top: 100px;
}
.footer-bottom{
    color:rgba(255, 255, 255, 0.40) ;
}